
html {
  font-size: 16px;

}

.body{
  background-color: #F8F8F8;
}

/* Modal Popup Styling*/

.img-choice-container > .row > .col {
  padding: 10px;
}

.img-choice-container {
  padding-left: 0px;
}

.img-choice-image {
  height: 100%;
  width: 100%;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.img-choice-image:hover {
  background-color: #EDEDED;
  border: 5px solid #EDEDED;
}

.clicked-img {
  background-color: #EDEDED;
  border: 5px solid #EDEDED;
}

.unclicked-img {
  height: 100%;
  width: 100%;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

/* Navbar */

.navbar-brand {
  font-weight: 700;
  font-size: 1.25rem;
}

.navbar {
  margin-bottom: 0px;
}

/* Lot */

#item-name {
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
}

#lot-number {
  font-size: 1rem;
  font-weight: 300;
  padding: 5px;
}

#item-img {
  background-color: black;
}

/* UNORGANIZED MESS */

.row {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
}

.col {
  height: 100%;
}

.top-row {
  height: 70vh;
  background-color: white;
}

.bottom-row {
  height: 20vh;
  background-color: white;
  margin-top: 0px;
}

.info-row{
  height:10%;
  margin: 0;
}

.stream-row {
  height: 65%;
  margin: 0;
}

.game-row {
  height: 25%;
  margin: 0;
  vertical-align: middle;
}

div.row.game-row {
  margin-left: 10px;
  margin-top: 5px;
}

.gamer {
  border-top: 2px solid lightgrey;
  border-left: 0px solid lightgrey;
  border-right: 2px solid lightgrey;
  border-bottom: 2px solid lightgrey;
  height: 70%;
  padding: 0;
}

.first-place {
  border-left: 2px solid lightgrey;
}

.userImg {
  height: 75%;
  width: 75%;
  padding: 5px;
}

video {
  margin-left: 5px;
  width:100%;
  height: 100%;
  min-height: 0;
  background-color: black;

  /*
  padding: 5px;
  top: 50%;
  background-color: black;
  width: 100vh;
  */
}

#item-img {
  max-height: 60vh;
  max-width: 60vh;
}

center {
  height: 100%;
  margin-bottom: 0px;
}

p.info {
  text-align: center;
}

/*
--------------------------------------------------------------------------------
*/


/*
  Universal Background color is #F8F8F8
*/

/*
  Streaming box
    Elements:
      - Video Stream
*/
#stream-box {
  padding: 0px;
  background-color: white;
}

/*
  Product box
    Elements:
      - Product Image
      - Product Description
*/

#product-box {
  padding: 0px;

  /*
    When Winning color = ffe0b3
    When Losing color = white
  */
  /*
  background-color: #ffe0b3;
  */
  border: 2px solid lightgrey;
}

/*
  Bid Log box
    Elements:
      - Bid Entry Box
      - Bid Entry Button
      - Highest Bid
      - Highest Bidder
*/

#bid-log-box {
  padding: 0px;
  background-color: #white;
  border-right: 2px solid lightgrey;
  border-top: 2px solid lightgrey;
  border-bottom: 2px solid lightgrey;
  border-left: 1px solid lightgrey;

}

/*
  "This" box
    General Format for other boxes
    Formated:
      - Padding
      - Background Color
*/
#this-box {
  padding: 0px;
  background-color: #white;
  border-right: 1px solid lightgrey;
  border-top: 2px solid lightgrey;
  border-bottom: 2px solid lightgrey;
  border-left: 2px solid lightgrey;
  font-family: 'Oswald', sans-serif;

}

/*#placeBidButton{
  padding: 10px;
  color: #;
  background-color: #55acee;
  border-radius: 25%;
}*/

.right {
    float: right;
    padding-right: 2%;
}
